// Text
$headings-font-weight: 600;

// Cards
$card-border-width: 0;

// Buttons
$input-btn-font-size: 1rem;
$btn-font-weight: 600;
$input-btn-padding-y: 0.6rem;
$input-btn-padding-x: 1rem;


$enable-responsive-font-sizes: true;
$border-radius: 0.6rem;
$border-radius-lg: 1rem;
$border-radius-sm: 0.5rem;
$card-border-radius: $border-radius-lg;
$input-btn-focus-box-shadow: none;
$input-bg: #eee;
$input-border-color: transparent;
$input-focus-border-color: #0003;
$input-focus-bg: white;

// List
$list-group-item-padding-y: 0.5rem;
$list-group-item-padding-x: 0.7rem;
$list-group-border-radius: $border-radius-sm;


.h5,
.h6 {
  line-height: 1.5 !important;
}
.b-form-spinbutton:focus {
  box-shadow: none !important;
}
.b-form-spinbutton output {
border: 0 !important;
}
.b-form-spinbutton svg {
  transform: scale(1) !important;
}
:root {
  font-size: 18px;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

// Colors
$theme-colors: (
  "primary": #057afb,
  "secondary": #aaa,
  "success": #36C759,
);
.large {
  font-size: 1.2rem;
}
.cursor-pointer {
  cursor: pointer;
}
.disabled {
  color: #0007;
  pointer-events: none;
}
.text-decoration-none {
  text-decoration: none !important;
}
