// Colors
$theme-colors: (
  "primary": #F09D51,
  "secondary": #618985,
  "success": #36C759,
  "danger": #E63946,
  "info": #96BBBB
);
$light: #dce5e5;
$dark: #373736;
$yiq-contrasted-threshold: 180;

// Text
$headings-font-weight: 600;

// Cards
$card-border-width: 0;


.white-space-pre-line {
  white-space: pre-line;
}
$enable-hover-media-query: true;


// Buttons
.btn {
  margin: auto;
  display: block !important;
}
$input-btn-font-size: 1rem;
$btn-font-weight: 600;
$input-btn-padding-y: 0.6rem;
$input-btn-padding-x: 1rem;


$enable-responsive-font-sizes: true;
$border-radius: 0.6rem;
$border-radius-lg: 1rem;
$border-radius-sm: 0.5rem;
$card-border-radius: $border-radius-lg;
$input-btn-focus-box-shadow: none;
$input-bg: $light;
$input-border-color: transparent;
$input-focus-border-color: transparent;

// List
$list-group-item-padding-y: 0.5rem;
$list-group-item-padding-x: 0.7rem;
$list-group-border-radius: $border-radius-sm;


.h5,
.h6 {
  line-height: 1.5 !important;
}
.b-form-spinbutton:focus {
  box-shadow: none !important;
}
.b-form-spinbutton output {
border: 0 !important;
}
.b-form-spinbutton svg {
  transform: scale(1) !important;
}
:root {
  color: $dark;
  font-size: 18px;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.large {
  font-size: 1.2rem;
}
.cursor-pointer {
  cursor: pointer;
}
.disabled {
  color: #0007;
  pointer-events: none;
}
.text-decoration-none {
  text-decoration: none !important;
}


// MenuDish
.food-image {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.3rem;
  color: #fffb;
  text-align: center;
  line-height: 3.5rem;
  border-radius: 0.8rem;
  background-color: $light;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  background-size: cover;
  background-position: center center;
}

.arrow {
  float: right;
  height: 3.5rem;
}
.text-decoration-underline {
  text-decoration: underline;
}